* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }
    

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../img/login bg.jpg') no-repeat center center/cover;
    position: relative;
}

    .login-container {
      background: rgba(255, 255, 255, 0.9);
      width: 400px;
      padding: 40px;
      border-radius: 20px;
      box-shadow: 0 8px 20px rgba(0,0,0,0.15);
      text-align: center;
    }

    .login-container h2 {
      margin-bottom: 20px;
      color: #333;
      font-weight: 600;
    }

    .input-group {
      text-align: left;
      margin-bottom: 20px;
    }

    .input-group label {
      display: block;
      font-size: 14px;
      margin-bottom: 5px;
      color: #555;
    }

    .input-group input {
      width: 100%;
      padding: 12px;
      border-radius: 10px;
      border: 1px solid #ddd;
      outline: none;
      transition: all 0.3s ease;
    }

    .input-group input:focus {
      border-color: #01244b;
      box-shadow: 0 0 4px #0078ff66;
    }

    .login-btn {
      width: 100%;
      background: #01244b;
      color: white;
      padding: 12px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      transition: 0.3s;
    }

    .login-btn:hover {
      background: #113d6f;
    }

    .bottom-text {
      margin-top: 15px;
      font-size: 14px;
      color: #555;
    }

    .bottom-text a {
      color: #01244b;
      text-decoration: none;
      font-weight: 500;
    }

    .bottom-text a:hover {
      text-decoration: underline;
    }